.calendar {
  margin: 10px 0;
  &-label {
    width: 220px;
    font-size: 0.9em;
    font-family: $secondary_font;
  }
  &-datepicker {
    padding: 7px;
    width: 100%;
    max-width: 220px;
    border: 1px $dark solid;
    margin-top: 5px;
    color: $dark;
    @media only screen and (min-width: 769px) {
      max-width: 300px;
      padding: 9px;
    }
  }
  &-datepicker,
  ::placeholder {
    font-size: 0.8em;
    @media only screen and (min-width: 769px) {
      font-size: 1em;
    }
  }
}
