.table-container-pagination {
  display: flex;
  font-family: $secondary_font;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 300;
  max-width: 300px;
  &-select {
    display: flex;
    background-color: white;
    label {
      padding: 4px 20px;
    }
    select {
      width: 40px;
      padding: 0 2px;
      border: none;
      margin: 0 15px;
    }
    select:focus {
      box-shadow: 0 0 1pt 1pt $sand;
      outline: none !important;
    }
  }

  &-btnContainer {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 0px 10px;
    &-currentPage {
      font-weight: 200;
      font-size: 1.2em;
      background-color: white;
      padding: 5px 9px;
      border-radius: 3px;
      margin: 0 3px;
    }
    &-btn {
      background-color: white;
      border: none;
      .arrow-previous,
      .arrow-next {
        width: 11px;
        fill: black;
        background-color: none;
        margin-top: 3px;
      }
      .arrow-previous:hover,
      .arrow-next:hover {
        fill: $sand;
      }

      .arrow-next {
        transform: rotate(90deg);
      }
      .arrow-previous {
        transform: rotate(270deg);
      }
    }
  }
}
