.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 80px 7%;
  &-noEmployeesMsg {
    color: $dark;
    font-family: $secondary_font;
    padding: 50px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
  }
  &-link {
    font-size: 0.9em;
    font-family: $secondary_font;
    text-decoration: none;
    font-weight: 500;
    background-color: darken($sand, 10%);
    color: white;
    border-radius: 2px;
    margin: 1em 0rem;
    padding: 1em 1.25rem;
    box-shadow: inset 0 0 0 0 $dark;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  &-link:hover {
    box-shadow: inset 100px 0 0 0 $dark;
    cursor: pointer;
  }
  &-content {
    width: 100%;
    padding: 30px 0;

    h1 {
      color: $dark;
      font-family: $main_font;
      font-weight: 600;
      font-size: 2.4em;
      padding-bottom: 20px;
    }
    &-search {
      margin-bottom: 30px;
      background-color: white;
      opacity: 85%;
      border-radius: 3px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      width: 300px;
      input {
        padding: 5px;
        border: 2px $light_blue solid;
      }
      input:focus {
        outline: none !important;
        box-shadow: 0 0 10px $light_blue;
        border-color: 2px $light_blue solid;
      }
      button {
        background-color: darken($light_blue, 10%);
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 0 10px;
        cursor: pointer;
        color: white;
        font-weight: 600;
      }
      button:hover {
        background-color: darken($light_blue, 10%);
        transform: scale(1.07);
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .listContainer {
    max-width: 740px;
  }
}

@media only screen and (min-width: 1023px) {
  .listContainer {
    max-width: 1100px;
    &-link {
      font-size: 1.1em;
    }
    &-content {
      h1 {
        font-size: 3em;
      }
      &-search {
        button {
          font-size: 1em;
        }
      }
      &-table {
        td,
        th {
          font-size: 1em;
          max-width: 120px;
        }
      }
    }
  }
}
