.birthdate-calendar,
.startdate-calendar {
  &-container {
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    &-input {
      padding: 7px;
      width: 100%;
      max-width: 220px;
      border: 1px $dark solid;
      margin-top: 5px;
      color: $dark;
    }
    label {
      width: 220px;
      font-size: 0.8em;
      font-family: $secondary_font;
    }
    &-svg {
      fill: darken($sand, 20%);
      width: 16px;
      position: absolute;
      left: 190px;
      top: 37px;
    }
  }
  &-show {
    display: block;
  }
  &-hide > .cld_noslotWidth .cld_container {
    display: none;
  }
  .cld_noslotWidth {
    width: 100%;
    max-width: 220px;
    min-width: 220px;
    .cld_greenHighlight {
      background-color: $light_blue;
    }
  }
}
