.form-container {
  width: 80%;
  margin: 60px auto;
  max-width: 350px;
  @include container;
  @media only screen and (min-width: 769px) {
    padding: 40px;
    max-width: 500px;
    margin-top: 60px;
  }
  &-employeeLink {
    text-decoration: none;
    color: darken($sand, 20%);
    font-family: $secondary_font;
    padding: 5px 0;
    font-size: 1em;
    font-weight: 600;
    @media only screen and (min-width: 769px) {
      font-size: 1.2em;
    }
  }
  &-employeeLink:hover {
    font-weight: 500;
    color: darken($sand, 10%);
  }
  &-form {
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
    &-label {
      display: none;
    }
    &-btn {
      background-color: $dark;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1em;
      border-radius: 5px;
      @media only screen and (min-width: 769px) {
        font-size: 1.2em;
      }
    }
    &-btn:hover {
      cursor: pointer;
      outline: none;
      background-color: lighten($dark, 10%);
      @include keyframes(hover) {
        0% {
          transform: scale(1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          font-weight: 300;
        }

        100% {
          transform: scale(1.02);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
          font-weight: 400;
        }
      }
      @include animate(hover, 0.8s, infinite, alternate-reverse);
    }
  }
  &-title {
    color: $dark;
    font-size: 2em;
    padding-top: 10px;
    @media only screen and (min-width: 769px) {
      font-size: 2.2em;
    }
  }
  fieldset {
    width: 100%;
    border: none;
    margin: 5px 0;
    padding-top: 10px;
    width: 100%;
    max-width: 220px;
    position: relative;
    @media only screen and (min-width: 769px) {
      max-width: 300px;
    }
    legend {
      text-align: center;
      font-size: 1em;
      @media only screen and (min-width: 769px) {
        padding-top: 10px;
        text-align: start;
        font-size: 1.2em;
      }
    }
  }
  .hide {
    display: none;
  }
  .input {
    border: 1px $dark solid;
    margin: 5px 0;
    padding: 7px;
    width: 100%;
    max-width: 220px;
    @media only screen and (min-width: 769px) {
      max-width: 300px;
      padding: 9px;
    }
  }
  ::placeholder,
  .department::placeholder {
    color: $dark;
    font-size: 1em;
    @media only screen and (min-width: 769px) {
      font-size: 1.2em;
    }
  }
  .department {
    margin-top: 25px;
  }
}
