.form-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
  &-employeeLink {
    text-decoration: none;
    color: darken($sand, 20%);
    font-family: $secondary_font;
    padding: 5px 0;
    font-size: 1em;
    font-weight: 600;
  }
  &-form {
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
    &-label {
      display: none;
    }
  }
  &-title {
    color: $dark;
    font-size: 2em;
    padding-top: 10px;
  }
  fieldset {
    width: 100%;
    border: none;
    margin: 5px 0;
    padding-top: 10px;
    width: 100%;
    max-width: 220px;
    position: relative;
    legend {
      text-align: center;
    }
  }
  .hide {
    display: none;
  }
  .input {
    border: 1px $dark solid;
    margin: 5px 0;
    padding: 7px;
    width: 100%;
    max-width: 220px;
  }
  ::placeholder {
    color: $dark;
  }
  button {
    background-color: $dark;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
}
